/*
  Main Page Elements
*/

/* Fix container size. */
body div.container { width: 1170px; margin-bottom: 1em; }


/*
  Other Specific Page Elements
*/

/* Special filters. */
div#special_filter_container { margin-top: 20px; }
div#special_filter_container big { vertical-align: middle; }
div#special_filter_container button { margin-right: 5px; }


/*
  General Chart & Axis Styles
*/

/* Visualization lines. */
svg path.vis_line { fill: none; stroke-width: 2px; }

/* Axis label formats. */
svg g.axis_labels { pointer-events: none; }
svg g.axis_labels text { font-size: 0.75em; font-family: verdana; text-anchor: middle; /* font-weight: bold; */ }
svg g.axis_labels text.x_axis_label { dominant-baseline: text-after-edge; }
svg g.axis_labels text.y_axis_label { dominant-baseline: text-before-edge; }

/* Axis formats. */
svg g.axis { pointer-events: none; }
svg g.axis text { font-family: verdana, sans-serif; font-size: .625em; }
svg g.axis { shape-rendering: crispEdges; }
svg g.axis path, svg g.axis line { fill: none; stroke: black; shape-rendering: crispEdges; }
svg g.axis g:first-child line { display: none; }

/* Game start, zero lift indicator. */
svg line.game_start, svg line.zero_lift { stroke: lightgray; }
svg line.game_end { stroke: blue; }
.area {
    fill: lightsteelblue;
    stroke-width: 0;
    opacity: 0.5;
}


/*
  Useful Reusable Styles
*/

/* Custom tooltip appearance. Based on Bootstrap .badge styling. */
span.viz-tooltip {
  display: inline-block;
  min-width: 10px;
  padding: 3px;
  font-size: .875em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border: 1px solid lightblue;
  border-radius: 4px;
  cursor: default;
}

/* Hide an element. */
.hidden { display: none; }